<div>
    <h1>
        List of events
    </h1>
    <hr>
    <div class="row">
        <div *ngFor="let event of events" class="col-md-5">
            <event-thumbnail (click)="handleThumbnailClick(event.name)" [event]="event"></event-thumbnail>
        </div>
    </div>
    <button class="btn btn-primary" (click)="thumbnail.logFoo()">Log foo</button>
</div>