<div>
    <div  [routerLink]="['/event',event.id]" class="well hoverwell thumbnail">
        <h2>{{event?.name}}</h2>
        <div>Date: {{event?.date}}</div>
        <div>Time: {{event?.time}}</div>
        <div [ngClass]="{green:event?.time==='8:00 am', bold:event?.time==='8:00 am'}" [ngSwitch]="event?.time">
            <span *ngSwitchCase="'8:00 am'">Ealry start</span>
            <span *ngSwitchCase="'10:00 am'">Late start</span>
            <span *ngSwitchDefault>Normal start</span>
        </div>
        <div *ngIf="event?.price">Price: ${{event?.price}}</div>
        <div>
            Location:
            <span [hidden]="!event?.location?.address"> {{event?.location?.address}}
            </span>
         
            <span class="pad-left">
                {{event?.location?.city}},{{event?.location?.country}}
            </span>
        </div>
      
       
    </div>
</div>