<div class="navbar">
    <a [routerLink]="['events']">Home</a>
    <a  routerLinkActive="active">News</a>
    <div class="dropdown">
        <button class="dropbtn">Dropdown
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a [routerLink]="['event/create']" routerLinkActive="active">Create new event</a>
            <a [routerLink]="['user/profile']" routerLinkActive="active">Welcome user</a>
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['login']" routerLinkActive="active">Login</a>
        </div>
    </div>
</div>