<h1>
    Login
</h1>

<div>
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" autocomplete="off">
        <div class="form-group" >
            <label for="userName">UserName:</label>
            <input (ngModel)="userName"  name="userName" id="userName" type="text" class="form-control" placeholder="User name..." />
        </div>
        <div class="form-group" > 
            <label for="password">Password:</label>
            <input (ngModel)="password"   name="password" type="password" id="password" class="form-control" placeholder="Password..." />
        </div>


        <button type="submit" class="btn btn-primary">Login</button>
        <button type="submit" class="btn btn-primary">Cancel</button>
    </form>


</div>