/* You can add global styles to this file, and also import other style files */

body{
    background-color: orange;
}


.hoverwell:hover{
    background-color: palegoldenrod;
    cursor: pointer;
}

.container{
    padding-top: 10px;
}

.pointable{
    cursor: pointer;
}

.btn{
    color: peru;
}

[hidden]{
    display: none!important;
}

toast-succes{
    background-color: red;
}
